/*-- scss:defaults --*/
$primary: #FDEDF4;

$body-bg: #FDF4F8;
$body-color: #593957;
$secondary: #E3467C;
$tertiary: #6A3274;

$link-color: $secondary;

/*-- scss:rules --*/

// tipografía
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// texto de cuerpo
p, .listing-description, .category {
  font-family: "Lato", sans-serif !important;
}

// barra superior
.navbar-title {
  color: $tertiary;
}

.menu-text {
  color: $tertiary;
}

.nav-item .bi, .aa-SubmitIcon {
color: $body-color !important;
}


.alert-primary {
  background-color: $secondary !important;
  border-top: solid 1px #E02768 !important;
  border-bottom: solid 1px #E02768 !important;
  border-radius: 0 !important;
}

// título de posts de blog
.listing-title, .listing-title a {
  color: $secondary !important;
  font-weight: 700 !important;
  margin-bottom: 4px !important;
}

// etiquetas de posts
.listing-category, .quarto-category {
  border-color: #89598F !important;
  color: $primary !important;
  background-color: #B493B6;
}

.metadata, .quarto-title-meta {
  opacity: 0.6 !important;
}

img {
  border-radius: 7px !important;
}
/* css styles */

h1, h2, h3, h4, h5 {
      color: $secondary !important;
}

h4 {
  margin-bottom: 1.2rem !important;
}

.fa-2x {
  margin-right: 6px !important;
  margin-bottom: -2px !important;
  font-size: 1.2em !important;
}